#main {
    min-height: 400px;
}

#root {
    width: 800px;
    margin: 0 auto;
}

#list-title h2 {
    line-height: 58px;
    font-size: 20px;
    color: #999;
}

#list-title {
    padding: 10px 0;
    background: linear-gradient(#e7e7e7, #fff);
}

#list-title h2 span {
    display: block;
    width: 180px;
    height: 60px;
    background: linear-gradient(135deg, #0837d1, #95acf4);
    text-align: center;
    color: #fff;
}

#product-list {
    width: 235px;
    float: left;
}

#content-wrap {
    float: left;
    width: 541px;
    padding: 5px 0 5px 5px;
}

#content {
    border: 1px solid #b3b3b3;
    border-radius: 4px;
    padding: 10px;
}

#product-list li:hover {
    border-bottom: 1px dashed #999;
}

.icon {
    float: left;
    width: 14px;
    height: 14px;
    background: url("../../img/to.png") 100% 100% no-repeat;
    background-size: 100%;
    margin-top: 9px;
}

.article-title {
    float: left;
    font-size: 12px;
    line-height: 24px;
    color: #343435;
    max-width: 400px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    line-height: 32px;
    margin-left: 5px;
}

.article-time {
    float: right;
    font-size: 12px;
    line-height: 24px;
    color: #8590a6;
    line-height: 32px;
}

#pagination {
    text-align: center;
    font-size: 12px;
    color: #6D6C6C;
    line-height: 24px;
}

#product-list {
    padding: 8px;
    /* border: 2px solid #b3b3b3; */
    border-right: 3px solid #f6f6f6;
    /* border-radius: 10px; */
}

#product-list li {
    cursor: pointer;
}

#page-num {
    display: inline-block;
    width: 14px;
    height: 14px;
    text-align: center;
}