#root {
    width: 800px;
    margin: 0 auto;
}

#page-title {
    padding-top: 80px;
    height: 60px;
    background: linear-gradient(#e7e7e7, #fff);
    border-top: 2px solid #9f9f9f;
}

#page-title h2 {
    height: 60px;
    font-weight: bold;
    color: #fff;
    background: linear-gradient(135deg, #0837d1, #95acf4);
    width: 180px;
    margin-left: 40px;
    text-align: center;
    line-height: 60px;
    float: left;
}

#item-title {
    float: left;
    margin-left: 70px;
    margin-top: 14px;
    font-size: 22px;
    color: #373737;
}

#page-title h2 i {
    display: inline-block;
    height: 24px;
    width: 24px;
    background: url("../../img/d.svg") center center no-repeat;
    background-size: 100%;
    vertical-align: middle;
}

#page-content {
    min-height: 350px;
}

#aside {
    position: relative;
    float: left;
    width: 180px;
    padding-left: 40px;
    float: left;
}

#tree {
    line-height: 39px;
    font-size: 14px;
    text-indent: 20px;
    border-left: 1px solid #757986;
    border-right: 1px solid #757986;
}

#tree li {
    border-bottom: 1px solid #757986;
}

#tree li a {
    color: #1a1a1a;
}

#article {
    width: 560px;
    float: left;
    margin-left: 20px;
    background-color: #edf3f9;
}

#page {
    text-align: center;
}

#list li {
    line-height: 36px;
    color: #666;
}

#list li i {
    margin: 0 10px;
}

#list li span {
    display: inline-block;
    width: 365px;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
}

#list li a {
    display: inline-block;
    vertical-align: middle;
    /* padding: 0 10px; */
    width: 28px;
    margin-left: 10px;
}

#list li time {
    display: inline-block;
    vertical-align: middle;
}