.edit {
    background-color: #009688;
    color: #fff!important;
}

.small-button {
    display: inline-block;
    height: 28px;
    line-height: 28px;
    text-align: center;
    font-style: 14px;
    padding: 0 10px;
    border-radius: 4px;
}

.big-button {
    display: inline-block;
    height: 38px;
    line-height: 38px;
    text-align: center;
    font-style: 14px;
    padding: 0 18px;
    border-radius: 4px;
}

.small-button:hover,
.big-button:hover {
    opacity: .7;
}

.delete {
    background-color: #ff5722;
    color: #fff;
}

.func {
    background-color: #FFB800;
    color: #fff;
}

.layui-disabled {
    color: #333!important;
    background-color: #eee;
}

.icon-turnTo {
    display: inline-block;
    width: 14px;
    height: 14px;
    background: url("../img/to.png") 100% 100% no-repeat;
    background-size: 100%;
}