#home-main {
    display: flex;
    justify-content: center;
    width: 1000px;
    flex-wrap: wrap;
    margin: 0px auto;
    padding: 20px 0;
    justify-content: space-between;
    background: #fff;
}

#home-main .main-sub:nth-of-type(odd) {
    margin-left: 30px;
}

#home-main .main-sub:nth-of-type(even) {
    margin-right: 30px;
}

.main-sub {
    height: 190px;
    width: 450px;
    margin-bottom: 20px;
    border: 1px solid #92cffe;
    border-radius: 2px;
}

.main-title {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    background: linear-gradient(#f9f7f5, #d0ebfe);
}

.more {
    font-size: 14px;
    line-height: 50px;
}

.home-main-head {
    font-size: 24px;
    line-height: 50px;
}

.home-main-list {
    padding: 10px;
}

.home-main-list a {
    color: #333;
}

.home-main-list a:hover {
    color: #ff8900!important;
    text-decoration: underline;
}

.home-main-list li {
    display: flex;
    justify-content: space-between;
}

.article-title {
    font-size: 12px;
    line-height: 24px;
    color: #343435;
    max-width: 400px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.article-time {
    font-size: 12px;
    line-height: 24px;
    color: #8590a6;
}