.title-wrap {
    overflow: hidden;
}

.dd {
    width: 500px;
}

.item-title {
    line-height: 60px;
    font-size: 18px;
    font-weight: bold;
    text-indent: 40px;
}

.items-in-row {
    float: left;
    width: 200px;
}

.textarea-wrap {
    width: 800px;
    margin-left: 40px;
}