body {
    background: url("../../img/04.jpg") no-repeat;
    background-size: cover;
}

#admin-regis-box {
    text-align: center;
    padding: 200px 0;
}

#al-title {
    position: relative;
    height: 70px;
    padding: 20px 0;
}

#al-title h1 {
    text-indent: -1000px;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

#logo {
    margin: 0 auto;
    width: 200px;
    display: block;
}

#al-wrap {
    width: 400px;
    height: 450px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, .5);
    border-radius: 6px;
}

.input-row {
    margin-top: 20px;
}

.input-row input {
    border: 1px solid #eee;
    height: 36px;
    border-radius: 4px;
    width: 260px;
    text-indent: 10px;
    line-height: 24px;
}

#regis {
    display: block;
    width: 260px;
    background-color: #0084ff;
    color: #fff;
    line-height: 36px;
    margin: 20px auto;
    border-radius: 4px;
}